/* Utilities */


.u-title{
    border-bottom: 2px dashed #00BE0F;
    color: #00BE0F;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: .5em;
    text-align: center;
}

.u-containerDefault{
    width: 800px;
    margin: 0 auto;
}


/* MainMenu */

.MainMenu{
    background: #1E1E1E;
    text-align: center;
    height: 3.75em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;
}

.MainMenu-link{
    color: #AFFFA9;
    text-decoration: none;
    line-height: 3.75em;
    margin-right: 1.5em;
}

/* Header */


.Header{
    background-image: url('../images/portada-cerrocastillosa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 8em 0 4.3em;
}

.Header-imageContainer{
    position: relative;
    margin: 0;
    top: -5em;
}

.Header-image{
    /* position: relative; */
    /* border: 5px solid white; */
    /* border-radius: 50%; */
    /* left: -15em; */
}

.Header-name,
.Header-link{
    color: white;
}

.Header-link{
    font-size: 2.3em;
    /* font-weight: bold; */
    text-decoration: none;
    text-shadow: #003504 -3px 3px 5px;
}

.Header-name{
    /* font-size: 1.5em; */
    /* font-weight: 300; */
    margin: -50px 0 0;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 46px;
    border: 0px solid #003d07;
    border-radius: 10px;
    background: #73ff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#73ff00), to(#008a05));
    background: -moz-linear-gradient(top, #73ff00, #008a05);
    background: linear-gradient(to bottom, #73ff00, #008a05);
    -webkit-box-shadow: #116600 0px 0px 13px 0px;
    -moz-box-shadow: #116600 0px 0px 13px 0px;
    box-shadow: #116600 0px 0px 13px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 24px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 0px solid #009912;
    background: #8aff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#8aff00), to(#00a606));
    background: -moz-linear-gradient(top, #8aff00, #00a606);
    background: linear-gradient(to bottom, #8aff00, #00a606);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #459900;
    background: -webkit-gradient(linear, left top, left bottom, from(#459900), to(#008a05));
    background: -moz-linear-gradient(top, #459900, #008a05);
    background: linear-gradient(to bottom, #459900, #008a05);
}

/* Profile */

.Profile{
    text-align: center;
}

.Profile-link{
    background: orange;
    border-radius: 2em;
    color: white;
    margin-right: .5em;
    padding: .5em 1em;
    text-decoration: none;
}

/* Work */

.Work{
    margin-top: 2em;
    text-align: center;
}


.Work-item{
    display: inline-block;
    margin-right: 1.8em;
    margin-bottom: 1.8em;
}

.Work-imageContainer{
    margin: 0;
}

.Work-description{
    font-size: 1.1em;
    color: #515151;
    font-style: italic;
}

img.Monse-image {
width: 350px;
}

/* Footer */

.Footer{
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
    text-align: center;
}


.Footer-form{
    text-align: center;
    display: inline-block;
}

.Footer-left{
    display: inline-block;
    width: 32em;
    text-align: center;
    vertical-align: top;
}

.Footer-title{
    color: white;
}

.Footer-formInput,
.Footer-textarea{
    background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
}

.Footer-textarea{
    resize: none;
}

.Footer-button{
    background: orange;
    border-radius: 1em;
    border: none;
    color: white;
    padding: .5em 1em;
}